.content-custom-swiper-outer {
    overflow: hidden;
    position: relative;
    .content-custom-swiper-inner, .swiper_thumbs {
        position: relative; 
    }
    .swiper_thumbs {
        margin-top: 5px;
    }
    .swiper-button-next, .swiper-button-prev {
        border: 0;
        background: transparent;
    }
}
