.content-custom-swiper-outer {
    overflow: hidden;
    position: relative;
    .content-custom-swiper-inner, .swiper_thumbs {
        position: relative; 
    }
    .swiper_thumbs {
        margin-top: 5px;
    }
    .swiper-button-next, .swiper-button-prev {
        border: 0;
        background: transparent;
    }
    .swiper-progress {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% * var(--swiper_progress));
        height: 5px;
        background: var(--color_1, #ccc);
        z-index: 1;
    }
}
